

.indented {
  margin-left: 25px;
}
.comment-unpublished {
  background-color: #fff4f4;
}
.preview .comment {
  background-color: #ffffea;
}
blockquote {
  background-color:#EEEEEE;
  border:1px solid #CCCCCC;
  padding:15px;
  text-align:left;
}